<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>About Space10</h1>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag 'frontpage_gallery/fourth.jpg', class: 'full_width' %>
        </div>
      </div>
    </div>
  </div>
</div>