<div id="instafeed"></div>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'space10',
        clientId: '7b508c78c7f24210966997d1d5f279ea'
    });
    feed.run();
</script>