<% content_for :title, 'Community' %>

<div class="container">
	<div class="row hero-block">
		<div class="col-md-8 col-xs-12 col-md-push-4">
			<%= image_tag 'space_map.png', class: "hero-image" %>
		</div>
		<div class="col-md-4 col-xs-12 col-md-pull-8">
			<h1><%= @profiles.count %> <br>online</h1>
			<p><strong>Become part of the Space10 community and connect with like-minded thinkers from around the world.</strong></p>
		</div>
	</div>
</div>
<%= render 'community' %>