<div class="container">
	<div class="row hero-block">
		<div class="col-md-8 col-xs-12 col-md-push-4">
			<%= image_tag 'space_map.png', class: "hero-image" %>
		</div>
		<div class="col-md-4 col-xs-12 col-md-pull-8">
			<h1>325 <br>online</h1>
			<p><strong>Mattis mauris id mauris luctus, non cursus leo dapibut eget henmagna, ut bibendum leonec quam nunc.</strong></p>
		</div>
	</div>
</div>
<%= render 'community' %>