<% provide(:title, "New event") %>
<div class="row">
	<div class="col-md-12">
		<h2>New event</h2>
		<%= form_for @event, url: admin_events_path, html: { multipart: true } do |f| %>
			
			<%= render 'form_fields', f: f %>
			
		<% end %>
	</div>
</div>