<div class="container-align-left">
  <div class="row">
  	<div class="col-md-12 content_block">
  		<div class="slick-variable-width" data-slick='{"slidesToShow": 2, "slidesToScroll": 1}'>
  			<% object.image_attachments.each do |attachment| %>
  				<a href="#"><%= image_tag attachment.image_url(:medium), height: "300" %></a>
  			<% end %>
  		</div>
  	</div>
  </div>
</div>