<%= simple_form_for :search, url: search_results_path, method: :post, remote: true, authenticity_token: true, html: {class: 'auto_submit'} do |f| %>
  <%= f.input :query, autofocus: true, label: false, placeholder: 'Search' , input_html: { autocomplete: 'off' } %>
<% end %>
<div id="search_results">
</div>