<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h2>You are about to claim a seat for this event. Are you sure?</h2>
        <br><br>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
          <%= link_to "Yes, please!", event_registrations_path(event), {method: :post, class: 'btn btn-block btn-default'} %>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group">
          <%= link_to "No, thanks!", '#', {class: 'btn btn-block btn-default'} %>
        </div>
      </div>
    </div>
  </div>
</div>