<p class="event-date"><%= event.starts_at.strftime("%d") %></p>
<p class="date"><%= event.starts_at.strftime("%B") %></p>
<% if event.address.present? && event.address.any_present? %>
	<p class="event-address">
		Address <br>
		<%= event.address.html_address.html_safe %>
	</p>
<% end %>
<p class="event-address">
	Time <br>
	<%= (event.timespan).downcase.capitalize %>
</p>