<div class="row rating-box">
  <%= form_for rating, html: {class: 'auto_submit'}, method: :patch, remote: true do |f| %>
    <div class="col-sm-4">
      <p class="h3">Rate this project</p>
    </div>
    <div class="col-sm-4 text-center">
      <fieldset class="score">
        <% 5.downto 1 do |score| %>
          <%= f.radio_button :score, score, class: "star-radio" %>
          <%= f.label "score_#{score}" %>
        <% end %>
      </fieldset>
    </div>
    <div class="col-sm-4">
      <small>You rated this project.</small>
    </div>
  <% end %>
</div>