<fieldset class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= f.hidden_field :_destroy, class: 'destroy' %>
      <%= f.label :partner_id, 'Project partner' %>
      <a href="#" class="remove_fields pull-right" >&times;</a>
    </h3>
  </div>
  <div class="panel-body">
    <%= f.select :partner_id, CompanyProfile.published.pluck(:title,:id), {include_blank: "Select partner"}, {class: 'form-control'} %>
  </div>
</fieldset>