<fieldset class="panel panel-default sortable_item">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-bars handle"></i> Text block</h3>
	</div>
	<div class="panel-body">
		<%= f.hidden_field :row_order, class: 'row_order' %>
		<%= f.fields_for :text_attachment, (f.object.text_attachment || f.object.send('build_text_attachment')) do |builder| %>
			<%= builder.label :content, 'Text block content' %>
			<%= builder.text_area :content, class: 'form-control', data: { provider: 'summernote' } %>
		<% end %>
	</div>
</fieldset>