<% provide(:title, "Edit post") %>
<div class="row">
	<div class="col-md-12">
		<h2>Edit post</h2>
		<%= form_for @post, url: admin_post_path(@post), html: { multipart: true } do |f| %>
			
			<%= render 'form_fields', f: f %>
			
		<% end %>
		<%= debug params %>
	</div>
</div>