<% provide(:title, "New post") %>
<div class="row">
	<div class="col-md-12">
		<h2>New post</h2>
		<%= form_for @post, url: admin_posts_path, html: { multipart: true } do |f| %>
			
			<%= render 'form_fields', f: f %>
			
		<% end %>
	</div>
</div>