.aspect-ratio {
	position: relative;
	width: 100%;
}

.aspect-ratio > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-position: center center;
  background-size: cover;
}

.r-20-9 {
  padding-bottom: 45%;
}

.r-16-9 {
	padding-bottom: 56.25%;
}

.r-4-3 {
	padding-bottom: 75%;
}

.r-2-1 {
  padding-bottom: 50%;
}

.r-1-1 {
  padding-bottom: 100%;
}