.slick-slide {
  margin-left: $gutter;
  opacity: 0.5;
  position: relative;
  -webkit-transition: opacity 500ms ease-out 0s;
  -moz-transition: opacity 500ms ease-out 0s;
  -o-transition: opacity 500ms ease-out 0s;
  transition: opacity 500ms ease-out 0s;
  &:hover {
    opacity: 0.8;
  }
	h2 {
		font-size: 2.7em;
		position: absolute;
		bottom: 20px;
		left: 40px;
		right: 20px;
		color: white;
	}
}

@media (max-width: $screen-xs-max) {
  .slick-slide {
    &> img {
      height: 240px;
    }
    h2 {
      font-size: 1.5em;
      left: 20px;
      right: 10px;
      bottom: 10px;
    }
  }
}

.slick-active {
  opacity: 1;
}