.event-image {
	img {
		margin-left: -2*$grid-gutter-width;
	}
}

.event-heading {
	h1 {
		margin-top: -25%;
		margin-bottom: $gutter;
		padding: $gutter 1.5*$gutter;
		background-color: white;
	}
}

.event-excerpt {
	font-size: 1.2em;
	font-weight: 600;
}

.event-date {
	font-size: 10em;
	font-weight: 600;
}