body.profiles footer {
  margin-top: 0;
}

footer {
  margin-top: $gutter;
}

footer {
  color: white;
  font-weight: bold;
  background-color: $brand-primary;
  padding-top: $gutter;
  padding-bottom: $gutter;
  a {
    color: white;
    font-weight: bold;
    &:focus, &:hover {
      color: darken(white,20%);
    }
  }
  .container {
    padding-left: $gutter;
    padding-right: $gutter;
    @media (min-width: $screen-md-min) {
      padding-left: $gutter*2;
      padding-right: $gutter*2;
    }
  }
  .form-control {
    background-color: black;
    border-color: white;
    color: white;
    &:focus {
      border-color: white;
    }
  }
  @media (max-width: $screen-xs-max) {
    .col-xs-12 {
      clear:both;
    }
  }
  @media (max-width: $screen-xs-max) {
    .space-footer-info {
      margin-bottom: $gutter;
    }
  }
  @media (max-width: $screen-sm-max) {
    #mc_embed_signup {
      margin-top: $gutter/2;
      margin-bottom: $gutter;
    }
    .footer-links {
      margin-bottom: $gutter;
    }
  }
  .space-footer-info {
    img {
      margin: $gutter/2 0;
    }
    p {
      margin-bottom:0; 
    }
    @media (min-width: $screen-sm-min) {
      float: right;
    }
  }
  .btn-default {
    border-color: transparent;
    text-transform: none;
    text-align: left;
    &:hover {
      border-color: transparent;
    }
  }
  .mc-field-group {
    *::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
    }
    *:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #fff;
       opacity:  1;
    }
    *::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #fff;
       opacity:  1;
    }
    *:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #fff;
    }
  }
}