.posts.show, .events.show, .events.index, .static_pages {
  .text_block p {
    font-size: 1.3em;
    line-height: 2em;
    margin-bottom: $gutter;
  }
  p {
    &.excerpt {
      font-size: 1.7em;
      font-weight: bold;
      line-height: 1.5em;
      margin-bottom: $gutter;
    }
    &.date {
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 10px;
      position: relative;
      &:before {
        content: " ";
        border-top: 2px solid black;
        width: 15px;
        position: absolute;
        margin-bottom: 15px;
        top: 0;
      }
    }
  }
  blockquote {
    border:none;
    font-size: 2.9em;
    font-weight: bold;
    line-height: 1.1em;
    padding: 0;
    &+p span {
      color: #B3B3B3;
      font-size: 17px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .posts.show, .events.show, .events.index, .static_pages {
    p.excerpt {
      line-height: 1.3em;
    }
    .text_block p {
      line-height: 1.5em;
    }
  }
}

.meta-text {
  color: $gray-light;
  font-size: 0.8em;
  font-weight: bold;
  line-height: inherit;
  margin: $gutter*0.8 0;
}