$gutter: $grid-gutter-width;

.container-align-left {
  max-width: 100%;
  & > .row {
    margin: 0;
    & > .col-md-12 {
      padding: 0;
    }
  }
}

.instagram-row {
  a {
    width: 25%;
    display: block;
    float: left;
    img {
      width: 100%;
    }
  }
}

img.full_width {
    max-width: 100%;
  }

.bg-gray {
  background: $gray-lighter;
}

.panel {
  img {
    max-width: 100%;
  }
}

#flash_notice {
  @extend .alert;
  @extend .alert-info;
}
#flash_success {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.alert ul {
  margin-top: 10px;
}

.field_with_errors {
	color: $brand-danger;
	input {
		border-color: $brand-danger;
	}
}

.vertical-divider {
  border-top: 20px solid black;
  margin: $gutter 0;
}

#publish_at_form_group {
  display: none;
}

input[value="Schedule"] {
  display: none;
}

.add_image {
  height: 150px;
  width: 150px;
  line-height: 150px;
  vertical-align: middle;
  padding:0 20px;
}

.handle {
  cursor: move;
}

.image_attachments {
  fieldset, .sortable-placeholder {
    display: list-item;
    list-style: none;
    float:left;
    margin: 0 5px 5px 0;
    .remove_fields {
      position: absolute;
      top: 4px;
      right:4px;
      line-height: 0.5em;
      background-color: white;
      padding: 5px;
    }
    .handle {
      position: absolute;
      top: 4px;
      left: 4px;
      line-height: 0.5em;
      font-size: 0.8em;
      background-color: white;
      padding: 3px 5px; 
    }
    img {
      border: 2px solid black;
      min-height: 150px;
      min-width: 50px;
      background-color: #eee;
    }
  }
}

.sortable-placeholder {
  background-color: #ddd;
}

.sortable-dragging {
}

.file_upload {
  position: relative;
  overflow: hidden;
}
.file_upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.content_block {
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
}