$gutter: $grid-gutter-width;

#flash_notice {
  @extend .alert;
  @extend .alert-info;
}
#flash_success {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.alert ul {
  margin-top: 10px;
}

.field_with_errors {
	color: $brand-danger;
	input {
		border-color: $brand-danger;
	}
}

.vertical-divider {
  width: 50%;
  border: 10px solid black;
  margin: $gutter 0 $gutter 0 -$gutter;
}

.navbar-brand > img {
  position: relative;
  top:-20px;
}

.navbar-nav > li > a {
  font-weight: bold;
  &.active {
    color: $navbar-default-link-active-color;
  }
}

.primary-nav > li {
  a {
    padding-left: $gutter * 1.5;
    &:before {
      content: " ";
      position: absolute;
      top: $navbar-height/2 - ($gutter * 0.8);
      left: 0;
      right: $gutter/2;
      border-top: 10px solid #ddd;
    }
    &.active:before, &:hover:before {
      border-color: $brand-primary;
    }
  }
}

footer {
  color: white;
  background-color: $brand-primary;
  margin-top: $gutter;
  padding-top: $gutter;
  padding-bottom: $gutter;
}

#admin_container {
  h1:first-child, h2:first-child {
    margin-top: 0;
  }
}

#admin_nav {
  li {
    padding: 5px 0;
    a.active {
      font-weight: 600;
    }
  }
}

#publish_at_form_group {
  display: none;
}

input[value="Schedule"] {
  display: none;
}

.add_image {
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding:0 20px;
}

.image_attachments {
  fieldset, .sortable-placeholder {
    display: list-item;
    list-style: none;
    float:left;
    margin: 0 5px 5px 0;
    .remove_fields {
      position: absolute;
      top: 4px;
      right:4px;
      line-height: 0.5em;
      background-color: white;
      padding: 5px;
    }
    img {
      border: 2px solid black;
      min-height: 100px;
      min-width: 50px;
      background-color: #eee;
    }
  }
}

.sortable-placeholder {
  background-color: #ddd;
}

.sortable-dragging {
}

.file_upload {
  position: relative;
  overflow: hidden;
}
.file_upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}