$gutter: $grid-gutter-width;

.inline-block {
  display: inline-block;
}

a {
  img {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 500ms ease-out 0s;
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
  }
  &:hover img:first-child {
    opacity: 0.8;
  }
}

a, button, input {
  -webkit-transition: all 500ms ease-out 0s;
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
}

.container-align-left {
  max-width: 100%;
  & > .row {
    margin: 0;
    & > .col-md-12 {
      padding: 0;
    }
  }
}

.no-padding {
  padding: 0;
}

@media (min-width: $screen-sm-min) {
.no-sm-padding {
  padding: 0;
}
}

.no-margin {
  margin: 0;
}

.margin-bottom-gutter {
  margin-bottom: $gutter;
}

img.full_width {
    max-width: 100%;
  }

.bg-gray {
  background: $gray-lighter;
}

.bg-black {
  background: black;
  color: white;
  a {
    color: white;
  }
}

.panel {
  img {
    max-width: 100%;
  }
}

.alert {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  color: white !important;
  border: none !important;
}

#flash_notice {
  @extend .alert-info;
}
#flash_success {
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert-warning;
}

.alert ul {
  margin-top: 10px;
}

.has-error {
	color: $brand-danger;
	input {
		border-color: $brand-danger;
	}
}

.vertical-divider {
  border-top: 20px solid black;
  margin: $gutter 0;
  @media (max-width: $screen-xs-max) {
    border-top: 10px solid black;
  }
}

#publish_at_form_group {
  display: none;
}

input[value="Schedule"] {
  display: none;
}

.add_image {
  height: 150px;
  width: 150px;
  line-height: 150px;
  vertical-align: middle;
  padding:0 20px;
}

.handle {
  cursor: move;
}

.image_attachments {
  fieldset, .sortable-placeholder {
    display: list-item;
    list-style: none;
    float:left;
    margin: 0 5px 5px 0;
    .remove_fields {
      position: absolute;
      top: 4px;
      right:4px;
      line-height: 0.5em;
      background-color: white;
      padding: 5px;
    }
    .handle {
      position: absolute;
      top: 4px;
      left: 4px;
      line-height: 0.5em;
      font-size: 0.8em;
      background-color: white;
      padding: 3px 5px; 
    }
    img {
      border: 2px solid black;
      min-height: 150px;
      min-width: 50px;
      background-color: #eee;
    }
  }
}

.sortable-placeholder {
  background-color: #ddd;
}

.sortable-dragging {
}

.file_upload {
  position: relative;
  overflow: hidden;
}
.file_upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.content_block {
  padding-top: $gutter*1.5;
  padding-bottom: $gutter*1.5;
}

@media (max-width: $screen-xs-max) {
  .content_block {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }  
}

// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display:         flex;
// }
// .col-bottom {
//   align-self: flex-end;
// }


.centered_cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
 
.centered_container {
  height: 100%;
  width: 100%;
  display: table;
 }

.centered {
  display: table-cell;
  vertical-align: middle;
}

.background-cover {
  background-size: cover;
  background-position: center center;
}

.btn-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  &:hover, &:focus {
    color: #fff;
  }
}
.col-xs-no-padding {
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
  }
}

.project_partnerships_block {
  h3 {
    font-size: 22px;
  }
  .project_partnership_content {
    // padding: 0 $gutter*2;
    border-top: 1px solid $gray-little-lighter;
    border-bottom: 1px solid $gray-little-lighter;
    padding-bottom: $gutter;
    @media (min-width: $screen-md-min) {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid $gray-little-lighter;
      border-right: 1px solid $gray-little-lighter;
    }
    margin-bottom: $gutter;
    &:first-child {
      // padding-left: $gutter/2;
      border: none;
      padding-bottom: 0;
    }
    &:last-child {
      // padding-right: $gutter/2;
      border: none;
      padding-bottom: 0;
    }
  }
  .project_person {
    margin-right: 5px;
  }
}

.large_close span {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: right;
    display: block
}

.large_close span:before, .large_close span:after {
    content: '';
    -webkit-transform-origin: 50% 50% !important;
    -ms-transform-origin: 50% 50% !important;
    transform-origin: 50% 50% !important;
    position: absolute;
    background: #8a8a8a;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%
}

.large_close span:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.large_close span:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.img-preview {
  display: block;
}