a {
	position: relative;
}

a:not([class]):after {
	content: ' ';
	position: absolute;
	border-bottom: 0.5em solid #ddd;
	left: 0;
	right: 0;
	bottom: -0.3em;
	z-index: -999;
}
a:not([class]):hover:after {
	border-bottom: 1.5em solid #ddd;
}

.navbar, .dropdown-menu {
	a:after, a:hover:after {
		border: none;
	}
}

.form-control, .btn, .input-group-addon, .note-editor, .list-group .list-group-item {
	border-width: 2px;
}

.input-group-btn .btn {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -2px !important;
}

.note-editor {
	border-color: $brand-primary;
}

.input-group-addon {
	color: #000;
}

.btn {
	text-transform: uppercase;
}

.panel:not(.note-editor) {
	border-width: 10px;
}

@media (max-width: $screen-xs-max) {
	h1 {
		font-size: $font-size-h1*0.6;
	}
}