#search_query {
  border:none;
  background-color: transparent;
  height: auto;
  margin-top: 0;
  padding-left: 0;
  @media (min-width: $screen-sm-min) {
    font-size: 88px;
  }  
  @extend .h1;
}

#search_query {
  &::-webkit-input-placeholder {
     line-height: normal;
  }
  &:-moz-placeholder { /* Firefox 18- */
     line-height: normal;  
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     line-height: normal;  
  }
  &:-ms-input-placeholder {  
     line-height: normal;  
  }
}

#search_results {
  .search_result {
    border-top: 1px solid #E9E9E9;
  }
  @media (max-width: $screen-sm-max) {
    img {
      margin-bottom: $gutter/2;
    }
  }
  .h2 {
    margin-top: 0;
  }
  .meta-text {
    margin: 10px 0;
  }
}

#search_form {
  .radio-buttons, .collection_radio_buttons, .radio_buttons_inline {
    color: #b3b3b3;
    font-weight: normal;
    font-size: 11px;
  }
  .radio_buttons_inline {
    margin-right: $gutter/2;
  }
  .radio-inline {
    display: inline;
  }
  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    bottom: 0;
    border: 1px solid #b3b3b3;
    background-color: #fff;
  }
  input[type="radio"]:checked + label:before {
      background-image: image-url("search-cross.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
  }
}