.share-links {
  margin-bottom: $gutter;
  color: #DCDDE0;
  border-left: 1px solid #DCDDE0;
  border-bottom: 1px solid #DCDDE0;
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: 120px;
  }
  overflow: auto;
  a {
    color: #DCDDE0;
    float: left;
    width: 20%;
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
    border-right: 1px solid #DCDDE0;
    border-top: 1px solid #DCDDE0;
    div.aspect-ratio {
      padding-bottom: 100%;
    }
    &:last-child {
      width: 20%;
      @media (min-width: $screen-md-min) {
        width: 100%;
      }
      div.aspect-ratio {
        padding-bottom: 100%;
        @media (min-width: $screen-md-min) {
          padding-bottom: 50%;
        }
      }
    }
    &:hover {
      color: #fff;
      background-color: #DCDDE0;
    }
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
}