.btn-social {
  position: relative;
  text-align: right;
  i.fa {
    margin-right: $gutter/2;
    padding-right: $gutter;
    padding-left: $gutter/3;
    position: absolute;
    left: 0;
    line-height: 2em;
    top: 0;
    bottom: 0;
    &:after {
      content: " ";
      position: absolute;
      border-right: 2px solid lighten(#000,15%);
      top: 0;
      bottom: 0;
      right:0;
    }
  }
  text-transform: none;
}