.static_pages {
	h2 {
		@extend h1;
		span {
			color: #DCDDE0;
		}
		margin-bottom: $gutter;
	}
	@media (max-width: $screen-xs-max) {
		h2 {
			font-size: $font-size-h1*0.5;
		}
	}
	@media (max-width: $screen-xs-max) {
		.space-description .lead {
			font-size: 1.6em;
		}
	}
	@media (min-width: $screen-sm-min) {
		.space-description {
			padding-right: $gutter*3;
		}
	}
	@media (max-width: $screen-sm-max) {
		.current-lab {
			font-size: 1.3em;
			position: relative;
			.lead {
				font-size: 1.8em;
				text-transform: uppercase;
			}
			&:before {
				content: " ";
				border-top: 1px solid $gray-little-lighter;
				position: absolute;
				top: 0;
				right: 35%;
				left: 35%;
			}
			&:after {
				content: " ";
				border-top: 1px solid $gray-little-lighter;
				position: absolute;
				bottom: 0;
				right: 35%;
				left: 35%;
			}
		}
	}
	.current-lab {
		p {
			margin: 0 0 $gutter/3 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		p.lead {
			text-transform: uppercase;
		}
		@media (min-width: $screen-md-min) {
			border-left: 1px solid $gray-little-lighter;
		}
	}

	h1.heading {
		position: relative;
		@media (min-width: $screen-sm-min) {
			white-space: nowrap;
		}
		&:after {
			content: " ";
			position: absolute;
			z-index: 100;
		}
	}
	@media (max-width: $screen-xs-max) {
		h1.heading {
			margin-top: 0;
			padding-top: $gutter;
			margin-left: $gutter;
			padding-left: $gutter;
			font-size: 40px;
			&:after {
				top: -$gutter*2;
				left: 0;
				bottom: 0;
				border-left: 10px solid rgba(0,0,0,0.8);
			}
		}
	}
	@media (min-width: $screen-sm-min) {
		h1.heading {
			margin-top: $gutter*4;
			padding-top: $gutter*2;
			font-size: 65px;
			&:after {
				top: 0;
				left: -$gutter*4;
				right: -$gutter*4;
				border-top: 20px solid black;
			}
		}
	}	
}

.gallery {
	margin-top: $gutter;
	margin-bottom: $gutter;
	div {
		padding: 0;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 0;
		padding: 0 60px;
		.half-up {
			img {
				margin-top: -50%;
			}
		}
	}
}