<footer>
  <div class="container">
    <div class="row">
    	<div class="col-md-3">
	    	<ul class="list-unstyled">
	    		<% Settings.get['footer']['links'].each do |link| %>
            <% if link[1]['title'].present? %>
              <li><%= link_to link[1]['title'], link[1]['link'], target: '_blank' %></li>
            <% end %>
          <% end %>
	    	</ul>
	    </div>
	    <div class="col-md-3">
	    	<div class="row">
	    		<div class="col-md-6">Newsletter</div>
	    		<div class="col-md-6">
	    		</div>
	    	</div>
	    </div>
	    <div class="col-md-3"></div>
	    <div class="col-md-3 text-right"><%= link_to "Back to top", '#' %></div>
    </div>
    <div class="row row-eq">
    	<div class="col-md-6 col-eq col-bottom">
    		<div class="social-media">
          <ul class="list-unstyled list-inline">
            <% Settings.get['social_media'].each do |k,v| %>
              <% if v.present? %>
                <li><%= link_to "<i class='fa fa-lg fa-fw fa-#{k}'></i>".html_safe, "#{v}", target: '_blank' %></li>
              <% end %>
            <% end %>
          </ul>  
        </div>
    	</div>
    	<div class="col-md-6 col-eq col-bottom">
    			<div class="pull-right space-footer-info">
    				<%= image_tag 'text-logo-white.svg', width: "135" %>
    				<p>
              Flæsketorvet 10<br>
              1711 Copenhagen V<br>
              Denmark    
            </p>
    			</div>
    	</div>
    </div>
  </div>
</footer>